<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lut.mapper.ProductsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lut.model.Products">
        <id column="productid" property="productid" />
        <result column="producttype" property="producttype" />
        <result column="productname" property="productname" />
        <result column="productspecification" property="productspecification" />
        <result column="origin" property="origin" />
        <result column="brand" property="brand" />
        <result column="manufacturer" property="manufacturer" />
        <result column="supplierid" property="supplierid" />
    </resultMap>

</mapper>
